<!--First Screen-->
<div class="section1" *ngIf="firstScreen==true">
  <form action="" class="flex-container">
      <div class="input-container">
          <label for="factors"> No of factors</label>
          <input type="text" [(ngModel)]="Factors" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="button-container">
          <button class="button" (click)="onSave()" ><b> Next</b></button>
          <button class="button"><b> Exit</b></button>
      </div>
  </form>
  <div>
      <p>HINT</p>
  </div>
</div>

<!-- Second Screen-->
<div class="section2"  *ngIf="secondScreen==true">
  <label class="label-control">Number of Factors : {{Factors}}</label>
  <div class="flex-container">
  <div class="form-group" class="input-container">
    
    <table class="table1">
      <tbody>
        <tr
          *ngFor="let row of rows; let index = index"
        >
          <td><input [(ngModel)]="row.Factor_name" #name="ngModel" /></td>
          <td>
              <input [(ngModel)]="row.Level_count" #name="ngModel"/>
          </td>
          
        </tr>
      </tbody>
    </table>
    
  
      <button class="button" >Back</button>
      <button class="button" (click)="CreateQA('custom-modal-1')">CreateQA</button>
      <button class="button"(click)="display()">Next</button>
  </div>
  <div *ngIf="flag == true" class="input-container">
    <div *ngFor="let v of rows">
      
        <input *ngFor="let i of v.Level_value" type="text" [(ngModel)]="i.value" #name="ngModel"  />
     
    </div>
    
    </div>
  <div class="input-container">
  
      <table mat-table *ngIf="flag_table==true"  #table [dataSource]="data" class="mat-elevation-z8">
        
        <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
          <th mat-header-cell *matHeaderCellDef> {{map_col[column]}} </th>
          <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>
<jw-modal  id="custom-modal-1">
  <h1>Choose the best option:</h1>
  <div *ngFor="let enum of radio_list">

      <input  [value]='enum' type="radio" name="enums" [(ngModel)]="SelectedItem">
      {{enum}}
    
      
  </div>
  <button (click)="closeModal('custom-modal-1');">Close</button>
  <button (click)="submit();">Submit</button>
  
  
  
</jw-modal>


